body{
    background-color: burlywood;
}
.h-p{
    width: 800px;
   background-color: rgb(243, 191, 124);
   padding: 10px;
}
.h-j{
    width: 1000px;
    background-color:  rgb(243, 191, 124);
    padding: 10px;
    
}
.h-o{
    width: 1020px;

}


